@import "tailwindcss";

@theme {
  --color-*: initial;

  --default-font-family: "Roboto", serif;

  /* Fundo e Superfícies */
  --color-background: #121212;
  --color-card: #1e1e1e;

  /* Cores da Marca e Ação */
  --color-action-primary: #7c3aed;
  --color-action-secondary: #00ffc2;

  /* Cores de Texto */
  --color-primary: #fafafa;
  --color-muted: #a0a0a0;
  --color-on-accent: #121212;

  /* Cores de UI e Bordas */
  --color-border: #2d2d2d;
  --color-destructive: #e53e3e;

  --color-white: #ffffff;
}
